In [3]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
import matplotlib as plt 
from sklearn.linear_model import LogisticRegression 

from sklearn.metrics import accuracy_score

In [4]:
train = pd.read_csv("F:\Mini-Project\Mini-Project\Traffic.csv")
train

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,Tuesday,31,0,4,4,39,low
1,12:15:00 AM,10,Tuesday,49,0,3,3,55,low
2,12:30:00 AM,10,Tuesday,46,0,3,6,55,low
3,12:45:00 AM,10,Tuesday,51,0,2,5,58,low
4,1:00:00 AM,10,Tuesday,57,6,15,16,94,normal
...,...,...,...,...,...,...,...,...,...
2971,10:45:00 PM,9,Thursday,16,3,1,36,56,normal
2972,11:00:00 PM,9,Thursday,11,0,1,30,42,normal
2973,11:15:00 PM,9,Thursday,15,4,1,25,45,normal
2974,11:30:00 PM,9,Thursday,16,5,0,27,48,normal
2975,11:45:00 PM,9,Thursday,14,3,1,15,33,normal

In [5]:
train, test = train_test_split(train, test_size=0.2, random_state=42)
print("Shape of train: ", train.shape)
print("Shape of test", test.shape)

Shape of train:  (2380, 9)
Shape of test (596, 9)

In [6]:
test

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
2404,1:00:00 AM,4,Saturday,15,5,0,10,30,low
2866,8:30:00 PM,8,Wednesday,86,15,15,23,139,high
2775,9:45:00 PM,7,Tuesday,102,5,19,11,137,normal
507,6:45:00 AM,15,Sunday,109,14,38,1,162,high
1825,12:15:00 AM,29,Sunday,14,2,1,26,43,normal
...,...,...,...,...,...,...,...,...,...
2040,6:00:00 AM,31,Tuesday,129,31,36,1,197,heavy
2617,6:15:00 AM,6,Monday,123,27,22,4,176,heavy
678,1:30:00 AM,17,Tuesday,20,3,1,32,56,normal
605,7:15:00 AM,16,Monday,147,26,40,0,213,heavy
1343,11:45:00 PM,23,Monday,11,3,1,37,52,normal

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2380 entries, 1557 to 860
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               2380 non-null   object
 1   Date               2380 non-null   int64
 2   Day of the week    2380 non-null   object
 3   CarCount           2380 non-null   int64
 4   BikeCount          2380 non-null   int64
 5   BusCount           2380 non-null   int64
 6   TruckCount         2380 non-null   int64
 7   Total              2380 non-null   int64
 8   Traffic Situation  2380 non-null   object
dtypes: int64(6), object(3)
memory usage: 185.9+ KB

In [8]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()



train_temp = train
train_temp['Day of the week'] = train_temp['Day of the week'].replace({'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7})
train_temp['Traffic Situation'] = train_temp['Traffic Situation'].replace({'low':1,'normal':2,'high':3, 'heavy':4})
train_temp['Time'] = le.fit_transform(train_temp['Time'])
                                                

train = train_temp

train

C:\Users\Maan Patel\AppData\Local\Temp\ipykernel_6132\2059627957.py:7: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_temp['Day of the week'] = train_temp['Day of the week'].replace({'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7})
C:\Users\Maan Patel\AppData\Local\Temp\ipykernel_6132\2059627957.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  train_temp['Traffic Situation'] = train_temp['Traffic Situation'].replace({'low':1,'normal':2,'high':3, 'heavy':4})

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
1557,58,26,4,64,27,5,5,101,1
509,74,15,7,150,13,31,4,198,4
2044,72,31,2,134,10,44,0,188,4
1847,62,29,7,108,24,2,19,153,2
2097,83,31,2,80,14,20,15,129,2
...,...,...,...,...,...,...,...,...,...
1638,28,27,5,20,2,0,17,39,2
1095,94,21,7,98,21,10,5,134,2
1130,69,21,7,116,22,23,7,168,4
1294,12,23,1,40,9,15,28,92,2
860,9,18,3,20,1,0,27,48,2

In [9]:
test_temp = test
test_temp['Day of the week'] = test_temp['Day of the week'].replace(
    {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7})
test_temp['Traffic Situation'] = test_temp['Traffic Situation'].replace(
    {'low': 1, 'normal': 2, 'high': 3, 'heavy': 4})

test_temp['Time'] = le.fit_transform(test_temp['Time']) 

test = test_temp

test

C:\Users\Maan Patel\AppData\Local\Temp\ipykernel_6132\632298576.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_temp['Day of the week'] = test_temp['Day of the week'].replace(
C:\Users\Maan Patel\AppData\Local\Temp\ipykernel_6132\632298576.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  test_temp['Traffic Situation'] = test_temp['Traffic Situation'].replace(

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
2404,24,4,6,15,5,0,10,30,1
2866,85,8,3,86,15,15,23,139,3
2775,95,7,2,102,5,19,11,137,2
507,70,15,7,109,14,38,1,162,3
1825,18,29,7,14,2,1,26,43,2
...,...,...,...,...,...,...,...,...,...
2040,64,31,2,129,31,36,1,197,4
2617,66,6,1,123,27,22,4,176,4
678,28,17,2,20,3,1,32,56,2
605,74,16,1,147,26,40,0,213,4
1343,15,23,1,11,3,1,37,52,2

In [17]:
X_test = test.drop(columns=['Traffic Situation'],axis=1)
y_test = test['Traffic Situation']

X_test

X_train

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total
1557,58,26,4,64,27,5,5,101
509,74,15,7,150,13,31,4,198
2044,72,31,2,134,10,44,0,188
1847,62,29,7,108,24,2,19,153
2097,83,31,2,80,14,20,15,129
...,...,...,...,...,...,...,...,...
1638,28,27,5,20,2,0,17,39
1095,94,21,7,98,21,10,5,134
1130,69,21,7,116,22,23,7,168
1294,12,23,1,40,9,15,28,92
860,9,18,3,20,1,0,27,48

In [11]:
X_train = train.drop(columns=['Traffic Situation'], axis=1)
y_train = train['Traffic Situation']

model = LogisticRegression()

lr = model.fit(X_train,y_train)

f:\Mini-Project\Mini-Project\miniprojectenv\lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [12]:
y_predict = model.predict(X_test)

accuracy = accuracy_score(y_test,y_predict)
print("Accuracy of the model : ", accuracy*100)

Accuracy of the model :  76.51006711409396

In [13]:
import pickle

In [16]:
pickle.dump(model,open('TrafficDensityModel.pkl','wb'))

In [23]:
pickle_model = pickle.load(open('TrafficDensityModel.pkl','rb'))

pickle_predict = pickle_model.predict([[85, 8, 3, 86, 15, 15, 23, 139]])
#pickle.load([58,25,7,150,24,2,0,176])

pickle_predict

f:\Mini-Project\Mini-Project\miniprojectenv\lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([2], dtype=int64)